experiment_name: path_gate_release
project_name: nuclass_release
entity: anonymous

gpus: [0]
per_device_batch: 12
accumulate_grad_batches: 32
batch_size: 384

num_workers: auto
prefetch_factor: 4
gpu_prefetch: false
persistent_workers: true
multiprocessing_context: spawn
h5_open_swmr: false
use_h5_index_cache: false
h5_rdcc_nbytes: 268435456   # 256 * 1024 * 1024
h5_rdcc_nslots: 1000003
h5_rdcc_w0: 0.75
keys_check_samples: 4

seed: 42
max_epochs: 4

weight_decay: 1.0e-5
warmup_steps: 1000
optimizer_fused: true

dino_model: facebook/dinov3-vitl16-pretrain-lvd1689m
ctx_img_size: 384
use_pooler: true
ctx_read_mode: auto
ctx_microbatch: 16
gpu_resize_ctx: false

tissue_embedding_dim: 64
ckpt_pathA_rel: path_local_release/best.ckpt
ckpt_pathB_rel: path_global_release/best.ckpt

joint_train: true
gate_warmup_epochs: 0.5
unfreeze:
  A_head: true
  A_last_k_blocks: 0
  B_head: true
  B_proj: true
  B_uni_last_k_blocks: 0
  B_dino_last_k_blocks: 0

lr_gate: 8.0e-4
lr_heads: 2.0e-4
lr_backbone: 5.0e-5

lambda_mix_ce: 1.0
lambda_gate_bce: 1.0
gate_pos_weight: auto
soft_k: 10.0
gate_conflict_boost: 2.0
gate_delta_scale: 1.0
gate_delta_gamma: 1.0
gate_lambda_align: 0.1
gate_lambda_entropy: 0.05
lambda_aux_heads: 0.05

gate_proj_dim_A: 128
gate_proj_dim_B: 128
gate_hidden: [256, 64]
gate_drop: 0.1

val_check_interval: 1.0
limit_val_batches: 1200
early_stopping_patience: 3

use_torch_compile: off
compile_backend: inductor
compile_mode: reduce-overhead
compile_encoders: false
compile_heads: true
compile_gate: true

enable_tf32: true
ckpt_debug_print: false
